* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    background-color: black;
}

.indexImage {
    width: 100%;
}

.choosingTab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 70px 0;
}

.choosingButton {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    text-align: center;
}

.chooseBtn {
    height: 60px;
    width: 60%;
}

.loginBtn {
    position: absolute;
    top: 40px;
    right: 45px;
    width: 120px;
    height: 50px;
}