* {
    margin: 0;
    padding: 0;
}

.welcomePage {
    background-image: url("../content/mainImage.jpg");
}

.welcomeImage {

}

.choosingTab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.choosingButton {
    border: 3px solid black;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}